.aboutus{
    background-color: #18392B;
    height:auto;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    padding: 20px;
    margin: 10px;    
    border-radius: 10px;
    font-family: Lora;
    line-height: 35px;
}
h1{
    color: rgba(3,51,48,255);
    font-size: 3rem;
    text-align: center;
    font-family: Rosarivo;
}
h2{
    color: rgb(6, 36, 28);
    text-align: center;
    font-family: Rosarivo;
}
.flexbox1{
    display:flex;
    justify-content: center;
}
.flexbox2{
    display:flex;
    margin: 2.5%;
}
.item{
    height: 150px;
    width:20%;
    margin:2%;
    border-radius: 10px;
    background-color: #1f5757;
    box-shadow: 3px 3px 10px 3px grey;
    color:aliceblue;
    
}

.name{
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    padding:0;
    margin-top:10px;
}
#linke img{
    height: 25px;
    padding-left:10px;
    padding-right: 10px;
    cursor: pointer;
}
#insta img{
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
p{
    text-align: center;
}

