.aboutus{
    background-color: transparent;
    height:auto;
    text-align: center;
    font-size: 1.25rem;
    color: black;
    padding: 20px;
    margin: 10px;    
    border: 2px solid 00403f;
    border-radius: 10px;
    font-family: Lora;
    line-height: 35px;
}
h1{
    color: #00403f;

    font-size: 3rem;
    text-align: center;
    font-family: Rosarivo;
}
h2{
    color: #00403f;
    text-align: center;
    font-family: Rosarivo;
}
.flexbox1{
    display:flex;
    justify-content: center;
}
.flexbox2{
    display:flex;
    margin: 2.5%;
}
.item{
    height: 150px;
    width:20%;
    margin:2%;
    border-radius: 10px;
background-color: #1f5757;
box-shadow: 3px 3px 10px 3px grey;
color:aliceblue;
}
.item2{
    height: 150px;
    width:20%;
    margin:2%;
    color: white;
    border-radius: 10px;
    background-color: #00403f;
    border: 1px solid white ;
    box-shadow: 3px 3px 10px 3px grey;
}
.name{
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    padding:0;
    margin-top:10px;
}
#linke img{
    height: 25px;
    padding-left:10px;
    padding-right: 10px;
    cursor: pointer;
}
#insta img{
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
p{
    text-align: center;
}

