.aboutus{
    background-color: #18392B;
    height:auto;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    padding: 20px;
    margin: 10px;    
    border-radius: 10px;
    font-family: Lora;
    line-height: 35px;;
}
h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: Rosarivo;
}
.flexbox{
    display:flex;
    margin: 2.5%;
}
.item{
    height: 150px;
    width:20%;
    margin:2%;
    border-radius: 10px;
    background-color: #A8E4A0;
    
}
.item:hover{
    box-shadow: 3px 3px 5px 3px;
}
.name{
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    padding:0;
    margin-top:10px;
}
#linke img{
    height: 25px;
    padding-left:10px;
    padding-right: 10px;
    cursor: pointer;
}
#insta img{
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
p{
    text-align: center;
}
