.flexbox{
    display:flex;
    justify-content: space-around;
}
.item{
    height: fit-content;
    width: 20%;
    background-color: #1f5757;
    text-align:center;
    border-radius: 10px 10px;
    transition: transform 0.5s ease;
} 
.item:hover{
    transform: scale(1.08);
}
a{
    color:white;
    text-decoration: none !important;
    font-family:Lora;
    font-size: larger;
}
a:hover{
    color: white;
}
h1{
    font-family: Rosarivo;
    text-align: center;
}