body{
    background-color:  white !important;
}
.main_flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.item {
    width: 38%;
}

.carousel {
    width: 40%; 
}

.carousel-inner {
    width: 100% !important;
    height: 550px !important; /* Fixed height */
    border-radius: 10px !important;
    overflow: hidden !important; /* Prevent expansion */
}

.carousel-item img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain; 
    border-radius: 10px;
}

.carousel-control-prev, .carousel-control-next {
    width: 0%;
    cursor: default; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 0%, 0%;
    cursor: default;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent;
}

h1 {
    text-align: center;
    font-family: Rosarivo !important;
}

h2 {
    margin: 5%;
    text-align: center;
    font-family: Lora;
    font-weight: 400;
}

.container-1 {
    display: flex;
    justify-content: center;
}

.item-1 {
    margin: 40px;
    transition: transform 0.5s;
}

.item-1:hover {
    transform: scale(1.08);
}

.user_choice {
    height: 150px;
    width: 150px;
    border-radius: 20px 0px 20px 0px;
    font-family: Lora;
    font-size: medium;
}

.choice, .gas, .result {
    display: none;
}

.gas_choice{
    animation: transform 0.5s ease-in;
    border-radius: 10px;
}
.gas_choice:hover{
    transform:scale(1.05);
}

button{
    background-color: rgba(3,51,48,255);
    border: none;  
    color: white;
}

#ind, #soc {
    font-family: Rosarivo;
    background-color: rgba(3,51,48,255);
    border: none;
    box-shadow: 5px 5px 5px grey;
    color: white;
}

#ind:hover, #soc:hover {
    color: white;
}

.container-2 {
    display: flex;
    justify-content: center;
}

table {
    border: 1.5px solid white;
    border-collapse: separate;
    border-color: white;
    border-radius: 20px 0px 20px 0px;
    margin: auto;
}

td {
    padding: 10px;
}

#submit_but {
    margin: auto;
    height: 50px;
    margin-top: 2vh;
    transition: transform 0.5s;
    border-radius: 10px;
    color: white;
}

#submit_but:hover {
    transform: scale(1.08);
}

.meter, .sub {
    display: none;
    margin-left: 33%;
}

.arrow {
    text-align: center;
    visibility: hidden;
    padding-bottom: 2px;
}

.item-meter {
    height: 50px;
    width: 50px;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: gold;
}

#green {
    background-color: green;
}

.society, .indiv {
    font-family: Lora;
}
.result{
    display: none;
}
.sub{
    display:flex;
    margin:auto;
}
