body {
    padding: 0;
    margin: 0;
    background: white;
}
::selection{
    color: indigo;
    background: pink;
}
.navbar {
    background-image: url('../images/bg.png');
    position: sticky;
    top:0;
    font-size: 1.25rem;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: rgb(241, 105, 209);
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.3rem;
    text-decoration-style:solid;
    font-size: 1.5rem;
}

a.navbar-brand:hover{
    color: white;
}
.navbar-collapse {
    justify-content: flex-end;
}
nav{
    position: sticky;
    top:0;
}
.nav-link{
    color: white;
}

nav.navbar{
    top: 0;
    position: sticky;
    z-index: 1000;
}
.page-footer{
    background-image: url('../images/bg.png');
    color: white;
}

.page-footer a:hover{
    color: rgb(241, 105, 209);
}
