body {
    padding: 0;
    margin: 0;
    background: #F5F5F5;
    font-family: montserrat;
}
::selection{
    color:  #8B4513;
    background: #FFD700;
}
.navbar {
    background-color: rgb(47, 171, 47) !important;
    position: sticky;
    top:0;
    font-size: 1.5rem;
    font-family: merri weather sans;
    
}
.nav-link,
.navbar-brand {
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 1000;
    text-decoration: none !important;
}
.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #8B4513;
    font-weight:1200 ;
    font-size: 1.7rem;
}

a.navbar-brand:hover{
    color: white;
}
.navbar-collapse {
    justify-content: flex-end;
}
nav{
    position: sticky;
    background-color: forestgreen;
    top:0;
}
.nav-link{
    color: white;
}

nav.navbar{
    top: 0;
    position: sticky;
    z-index: 10;
}
.page-footer{
    background-color: forestgreen;
    color: white;
}
.page-footer h1{
    font-family: playfair display;
}
.page-footer a:hover{
    color: rgb(241, 105, 209);
}
.page-footer img{
    border-color: transparent !important;
    width: 5% !important;
}
