body {
    padding: 0;
    margin: 0;
    background: #F5F5F5;
    font-family: montserrat;
}
::selection{
    color:  #00004d;
    background: #FFD700;
}
.navbar {
    background-color: white !important;
    position: sticky;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    top:0;
    font-size: 1.3rem;
    font-family: merri weather sans;
    
}
.navbar img{
    border-radius: 50%;
}
.nav-link,
.navbar-brand {
    color: #004800 !important;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 1000;
    text-decoration: none !important;
}
.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #8B4513;
    font-weight:1200 ;
    font-size: 1.4rem;
}

a.navbar-brand:hover{
    color: white;
}
.navbar-collapse {
    justify-content: flex-end;
}
nav{
    position: sticky;
    background-color: forestgreen;
    top:0;
}
.nav-link{
    color: white;
}

nav.navbar{
    top: 0;
    position: sticky;
    z-index: 10;
}
.page-footer{
    background-color: rgba(3,51,48,255);
    color: white;
}
.page-footer h1{
    font-family: playfair display;
}
.page-footer a:hover{
    color: rgb(241, 105, 209);
}
.page-footer img{
    border-color: transparent !important;
    width: 5% !important;
    border-radius: 50%;
}
#overlay2 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.grandFlex{
    display: flex;
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: fit-content;
    z-index: 1001;
    padding: 20px;
    flex-direction: column;
    z-index:1000;
}

fieldset {
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
    padding:1px !important;
}

legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
}


.gridCont{
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    border-color:transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
    padding: 5px;
}

#login{
    background-color: #023402;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}
#signup{
    background-color: #023402;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}

#login2{
    background-color: #023402;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}
#signup2{
    background-color: #023402;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}
