
body {
    padding: 0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
    background: #F5F5F5;
}


h1{
    text-align: center;
    font-family: Rosarivo;
    padding: 10px;
}
h2{
    text-align: center;
    font-family: Rosarivo;
    padding: 10px;
}
#related{
    background-color: #004800;
    color: aliceblue;
}
.accordion-body{
    font-family: Lora;
}
.accordion-button:not(.collapsed) {
    background-color: rgb(124, 212, 124); 
    color: rgb(4, 61, 4); 
    border-color: rgb(106, 218, 106)!important;
}

