
body {
    padding: 0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
    background: #F5F5F5;
}


h1{
    text-align: center;
    font-family: Rosarivo;
    padding: 10px;
}
h2{
    text-align: center;
    font-family: Rosarivo;
    padding: 10px;
}
#related{
<<<<<<< HEAD
    background-color: #00403f;
=======
    background-color:rgba(3,51,48,255);
>>>>>>> 48857d39720e4c8c05be8984085ce34091f3fb88
    color: aliceblue;
}
.accordion-body{
    font-family: Lora;
}
.accordion-button:not(.collapsed) {
    background-color: #1f5757;
    color: white;
    border-color:  #437474!important;
}

