.header{
    display:flex;
    height:auto;
    width:100%;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
}
.description {
    left: 50%;
    position: absolute;
    top: 0%;
    transform: translate(-0, +25%);
    text-align: center;
}
.description h1 {
    color: #FFD700;
    font-size: 2.2rem;
    font-family: merri weather sans;
    font-weight: bold;
}
.description p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: bold;
}
.flexStor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    justify-content: space-evenly;
    height: max-content;
}
.flexIn{
    width: 20%;
    padding: 20px;
    font-size: 1.2rem;
    font-family: cursive;
    font-weight: bold;
    color: #000;
    /*border-bottom: none;*/
    border: 0.25rem transparent; 
    border-bottom-right-radius: 30%; 
    border-top-left-radius: 30%;
    text-align: center;
    background-color: #9acd32;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.flexIn a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: cursive;
    font-weight: bolder;
    color: #472304;
    
}

.flexIn:hover a{
    color: white;
    transform: scale(1.2);
}

.flexIn img{
    border: 0.0 transparent; 
    border-bottom-right-radius: 30%; 
    border-top-left-radius: 30%;
    width: 80%;
    aspect-ratio: 4/3;
    bottom: 0;
}

#f1:hover{
    border: 0.25rem solid; 
    border-color: #9ACD32;
    background-color: #2E8B57  !important; 
    color: white;
}

#fl:hover a{
    color: white;
}

#f2:hover{
    border: 0.25rem solid; 
    border-color: #9ACD32;
    background-color: #2E8B57  !important; 
    color: white;
}

#f3:hover{
    border: 0.25rem solid; 
    border-color: #9ACD32;
    background-color: #2E8B57  !important; 
    color: white;
}

#f4:hover{
    border: 0.25rem solid; 
    border-color: #9ACD32;
    background-color: #2E8B57  !important; 
    color: white;
}

.flexIn:hover{
    background-color: #fff !important;
    cursor: pointer;
    transform: scale(1.2);
}
.flexIm{
    width: 20%;
    padding: 20px;
    border: 20px solid white;
    aspect-ratio: 4/3;
    font-size: 1vw;
    /*border-top: none;*/
}
@media (max-width: 800px) {
    .flexIn, .flexIm {
        width: 40%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 500px) {
    .flexIn, .flexIm {
        width: 80%; /* Adjust width for even smaller screens */
    }
}
.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    text-align: center;
    background-color: #000;
}
.feature-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom:0;
    width: 20%;
    border: 0.5rem solid black;
    border-radius: 30%;
}
.carousel-inner{
    height: 500px;
    width: 50%;
    margin-left: 25%;
    border-radius: 50px;
    margin-top:0;
}

.carousel-slide button{
    color: #000;
}
.carousel-item img {
    width: 100%;
    height: 500px;
}

.carousel-caption{
    bottom: 150px;
    color: white;
    font-weight: bolder;
    position: relative;
    top: 50%;
    transform: translate(-15%,-0.5%);
}
#carouselExampleCaptions{
    background-color: transparent;
}
.carousel-slide{
    background-color: transparent;
}
.cust1{
    display: inline-block;
    background-color: #468409;
    color: white;
}
.but{
    background-color: skyblue;
    color: black;
    font-size: 1.4rem;
    border-radius: 16px;
    margin: 4px 2px;
    padding: 10px 20px;
    text-align: center;
    border-color: transparent;
}

.but:hover{
    font-size: 1.7rem;;
}
#overlay2 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.grandFlex{
    display: flex;
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: fit-content;
    z-index: 1001;
    padding: 20px;
    flex-direction: column;
}

fieldset {
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
    padding:1px !important;
}

legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
}


.gridCont{
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    border-color:transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
    padding: 5px;
}

#login{
    background-color: #023402;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}
#signup{
    background-color: #023402;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}

#login2{
    background-color: #023402;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}
#signup2{
    background-color: #023402;
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
}

