.aboutus{
    background-image: linear-gradient(90deg,rgb(183, 220, 235),rgb(150, 207, 229),skyblue);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 2rem;
    color: black;
    padding: 20px;
    margin: 10px;    
    border: 10px solid transparent;
    border-radius: 5%;
}
.aboutus h1{
    color: forestgreen;
    font-size: 4rem;
}
