*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}
.close-btn{
    margin-left:95%;
    margin-top:10px;
    cursor: pointer;
}

.overlay{
    height: 100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
}

.container {
    background-color: white;
    border-radius:45px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.516);
    position : relative;
    overflow:hidden;
    width: 700px;
    height: 44vw;
    max-width:100%;
}

.container p{
    font-size: 0.9rem;
    line-height:20px;
    letter-spacing:0.4px;
    margin:20px 0;
} 

.container span{
    font-size:12px;
}
.container a{
    color:#333;
    font-size:13px;
    text-decoration: none;
    margin: 15px 0px 10px;
}

.container button{
    background-color: rgb(56, 241, 68);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius:10px;
    font-weight: 600px;
    letter-spacing: 0.65;
    margin-top: 10px;
    cursor:pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: white;
}
.container form{
    background-color: aliceblue;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding: 0px 40px;
    height:100%;
}
.container input{
    background-color: #eee;
    border:none;
    margin:8px 0px;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 10px;
    width:100%;
    outline:none;

}
.form-con{
    position:absolute;
    top:0;
    height:100%;
    transition:all 0.6s ease-in-out; 
}
.signin{
    width:50%;
    z-index:2;
}

.container.active .signin{
    transform: translateX(100%);

}
.signup{
    left:0;
    width:50%;
    z-index:2;
    opacity:0;
}
.container.active .signup{
    transform: translateX(100%);
    z-index:5;
    opacity:1;
    animation:move 0.6s;

}

@keyframes move{
    0%,49.99%{
        opacity:0;
        z-index:1;
    }
    50%,100%{
        z-index:5;
        opacity:1;
    }
}
.social-icons{
    margin-top: 10px;
    margin-bottom: 10px;

}
.social-icons a{
    border:1px solid #ccc;
    border-radius:22%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height:40px;
}
.toggle-con{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.6s ease-in-out;
}
.container.active .toggle-con{
    transform:translateX(-100%);
    z-index: 3;

}
.toggle{
    background: linear-gradient(to right,  lightgreen,rgb(44, 182, 95));
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}

.container.active .toggle{
    transform:translateX(0);
}
.toggle-panel{
    position:absolute;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 30px;
    text-align: center;
    top:0;
    z-index: 2;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.left{
    transform:translateX(-200%);
    z-index: 2;

}
.container.active .left{
    transform:translateX(0);
    z-index: 2;
}
.right{
    transform:translateX(80);
    right:0;
    
}
.container.active .right{
    transform:translateX(200%);
}
.container.active .toggle-con {
    transform: translateX(0);
}
