*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 4em;
    background: #fff;
    z-index: 999;
}
.logo{
    position:fixed;
    top:0;
    left:50%;
    transform: translateX(-50%);
    font-family: "Cosi times";
    padding: 1em;
    z-index: 1000;
}
.container{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.content{
    width: 100%;
    height: 100vh;
    background: #fff;
    position: relative;

}
.images{
    display: grid;
    align-items: center;
    grid-template-columns: 0.35fr 0.7fr 0.7fr;
    
    
}
.content img{
    width: 50%; 
    max-width: 3000px; 
    display: block; 
    margin: 2em auto 1em auto; 
    border: 4px solid black;}

.images img{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: inline;
    box-shadow: #ccd346b9 10px 10px 10px ;
}
.images img:hover {
    border: 2px solid #37ff73;
    background: greenyellow;
    box-shadow: 0px 0px 10px rgba(55, 255, 68, 0.5);
}
.enlarged-image {
    width: 650px;
    height: 650px;
  }
  .home{
    display: flex;
  }
.home img{
    width:750px;
    height: 750px;
    margin-top:-759px;
    border:none;
}
#line{
    width:100%;
    height:150px;
    border: none;
}
h3{
    text-align: center;
    margin-bottom:-50px ;
    font-size: 40px;
}
#b1{
  width: 220px;
  height: 80px;
  border-radius: 20px;
  font-size:30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#144623;
  background-color: #37ff73;
  margin-left: 30px;
}
#b1:hover{
    cursor:pointer;
}

#qty{
    width:39px;
    height: 40px;

}
.vtext{
    display: grid;
    align-items: center;
    grid-template-columns: 950px 550px;
    grid-gap: 1px;
}
li {
    list-style: none;
    font-size: 28px;
    line-height: 2.3;
  }
  li::before {
    content: url("../Single Products pages/images/sun.png");
    display: inline-block;
    height: 23px;
    width: 20px;
    display: inline;
  }
  h1{
    font-size: 40px;
  }
#vid{
     width:120%;
      height:120% ;
}

 .slide-up {

    opacity:0;
  }
  
  .slide-up {
    top:40px;
    left:10px;
    animation: slideUp ease 1.5s forwards 8s ;
  }
  @keyframes slideUp {
    0% {transform: translateY(0); opacity:0;}
    100% {transform: translateY(-40px);opacity:1;}
  }
