*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 4em;
    background: #fff;
    z-index: 999;
}
.logo{
    position:fixed;
    top:0.9;
    left:50%;
    transform: translateX(-50%);
    font-family: "Cosi times";
    padding: 1em;
    z-index: 1000;
    background-color: #fff;
    border-radius: 0 0 50px 50px;
}
.text{
  margin-top:150px;
}
.container{
    width: 100%;
    height: 100vh;
    background: #fff;
}
.content{
  width: 100%;
  height: 70vh;
  background: #fff;
  position: relative;

}
.images{
  display: grid;
  grid-template-areas: 
      "small1 text"
      "comp text";
  grid-gap: 10px;
  margin-top:-450px;
  margin-left:750px;
}
  .grid-item {
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 200px 300px;
    grid-gap: 10px;
  }
.item1 {
  grid-row: 1/3;
}
.item2 {
  grid-column: 2/4;
}
.small1 {
    grid-area: small1;
}
.comp {
    grid-area: comp;
}
.text {
  grid-area: text;
  align-items: center;
}

.leaf{
    width: 60%; 
    max-width: 3000px;
    display: block;
    margin: 2em auto 1em auto; 
}
.enlarged{
    width: 45% !important; 
    margin-left: 50px !important;
    max-width: 3000px;
    display: block;
    margin: 2em auto 1em auto; 

}
.content img{
  width: 60%; 
  max-width: 3000px;
  display: block;
  margin: 2em auto 1em auto; 
  border:none !important;
border-radius: 10%;}

.images img{
  float:left !important;
  width: 150px;
  height: 150px;
  border:none !important;
  display: inline;
  box-shadow: #979997b9 2px 0 10px 10px ;}
.images img:hover {
    border: 2px solid #37ff73;
    background: greenyellow;
    box-shadow: 0px 0px 10px rgba(55, 255, 68, 0.5);
}
.enlarged-image {
width: 45% !important; 
    margin-left: 50px !important;
    max-width: 3000px;
    display: block;
    margin: 2em auto 1em auto; 
  }
  .home{
    display: flex;
  }
.home img{
  width:650px;
  height: 650px;
  margin-top:-759px;
  border:none;
}
#line{
    width:100%;
    height:150px;
    border: none;
}
h2{
  text-align: center;
  margin-bottom:0px ;
}
#b1{
  height:2.3em;
  width:7em;
border-radius: 100px;
border:none;
font-size:30px;
font-family: "Ink Free", Times, serif;
color:#fff;
  background:#12722a;
margin-left: 30px;
}
#b1 a{
  text-decoration: none;
  font-size:1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#fff;
    background:#12722a;
    border: none;
    border-radius: 100px;
    font-weight: bolder;
}
#b1:hover{
  cursor:pointer;
  transform:scale(1.1);
}

#qtysp{
  width:49px;
  height: 40px;
  border-radius: 5px;

}
.vtext{
    display: grid;
    align-items: center;
    grid-template-columns: 950px 550px;
    grid-gap: 1px;
}
.slide-up {
    list-style: none;
    font-size: 28px;
    line-height: 2.3;
  }
  .slide-up::before {
    content: url("../Single Products pages/images/sun.png");
    display: inline-block;
    height: 23px;
    width: 20px;
    display: inline;
  }
  h1{
    font-size: 40px;
  }
#vid{
  width:120%;
      height:110% ;
      margin-top: -65px;
}


 .slide-up {

    opacity:0;
  }
  
  .slide-up {
    top:40px;
    left:10px;
    animation: slideUp ease 1.5s forwards 8s ;
  }
  @keyframes slideUp {
    0% {transform: translateY(0); opacity:0;}
    100% {transform: translateY(-40px);opacity:1;}
  }
  .addtocart{
    display:block;
    padding:0.5em 1em 0.5em 1em;
    border-radius:100px;
    border:none;
    font-size:2em;
    position:relative;
  margin-top:-70px;
  margin-left:320px;
    cursor:pointer;
    height:2em;
    width:7em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
  }
  .addtocart:hover{
    transform:scale(1.1);
  }
  .pretext{
    color:#fff;
    background:#12722a;
    position:absolute;
    top:0;
    font-size:20px;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Quicksand', sans-serif;
  }
  i{
    margin-right:10px;
  }
  .done{
    background:#35b928;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    transition:transform 0.3s ease;
  
    transform:translate(-110%) skew(-40deg);
  }
  .posttext{
    background:#35b928;
  }

  